<div class="login_container">
  <%= form_tag password_resets_path, :method => :post,  :id => "session_form" do %>
    <div class='title'>Reset my password</div>
    
      <%= render 'layouts/messages' %>
      <%= render 'layouts/errormessage' %>
    
    <div class='content'>
      <div class="formRow">
        <div class="input-prepend">
          <span class="add-on" title='Email'>@</span>
          <%= text_field_tag :email, params[:email],
              {:maxlength => 100, :placeholder=> 'Your email', :autocomplete => 'off'} %>
        </div>
      </div>
    </div>

    <div class="signin-bar clearfix">
      <button class="btn btn-inverse " id="login_btn" type="submit">Reset password</button>
      <span class='pull-right'><%= link_to 'Back to login page', "/" %></span>
    </div>
  <% end %>
</div>

<% javascript 'password_resets.js' %>
