<% content_for :script do %>
  <%= javascript_include_tag :users %>
<% end %>


<div class="header">
  <h2 style="float:left">Users</h2>
	<span class="add-btn"><%= link_to "+ Add new user", new_admin_user_path,
            :class => 'btn btn-primary' %></span>
</div>
<hr>
<%= render "layouts/messages" %>
<!--<span class="alerts"><%= flash[:alert] %><%=flash[:notice]%></span><br> -->
<table class="table table-striped table-bordered dTableR dataTable" id="users-datatable", name="users">
  <thead>
    <tr>
		<th>#</th>
    <th>Name</th>
    <th>Email</th>
    <th style="width:50px">Role</th>
		<th>Status</th>
		<th>Last login</th>
    <th>Action</th>
    </tr>
  </thead>
	<tbody>
<% @users.each do |user| %>
  <tr>
		<td><%= user.id %></td>
    <td ><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.role_name %></td>
    <td><%= "Inactive" if user.active == false %><%= "Active" if user.active == true %></td>
    <td><%= user.last_login.try(:strftime, "%b %d,%Y %T")	 %></td>
    <td style="width:180px">
				<%= link_to admin_user_path(user, :active => user.active==(false) ? true : false)  do %>
				<span class = "btn btn-mini btn-info" style="width:53px">
					<%= "Activete" if user.active == false %>
					<%= "Deactivete" if user.active == true %><%end%>
				</span>
    		<b style="float:right;margin-right:49px"><%= link_to 'Edit', edit_admin_user_path(user), :class=>"btn btn-mini" %>
    		<span class="btn-danger btn btn-mini" ><%= link_to "X", {:controller => "users", :action => 'destroy', :id => user.id},
					method: :delete, data: { confirm: 'Are you sure?' } %></b>
				</span>
		</td>
  </tr>
<% end %>
</tbody>
</table>



